.discountItems__area {
    .dis__title {
        margin-bottom: 85px;

        span {
            font-weight: 400;
            font-size: 16px;
            line-height: 120%;
            color: #01CDED;
            display: block;
            margin-bottom: 5px;

            span {
                font-weight: 400;
                font-size: 16px;
                line-height: 120%;
                color: #9DB4D3;
                display: inline-block;
                margin-right: 8px;
            }
        }

        h3 {
            font-weight: 400;
            font-size: 49px;
            line-height: 120%;
            color: #FFFFFF;
            margin-bottom: 8px;
        }

        p {
            font-weight: 400;
            font-size: 20px;
            line-height: 120%;
            color: #675E84;
            margin-bottom: 30px;
        }
    }

    .dis__img {
        display: flex;
        align-items: flex-start;
        gap: 80px;

        .disImg_small {
            display: flex;
            flex-direction: column;
            gap: 50px;

            img {
                width: 70px;
                height: 53px;
                padding-bottom: 10px;
                border-bottom: 2px solid #FFC700;
            }
        }

        .disImg_big {
            img {
                width: 563px;
                height: 429px;
            }
        }
    }
}

.dis_content {
    span {
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        color: #9DB4D3;
        display: block;
        margin-bottom: 8px;
    }

    p {
        font-weight: 400;
        font-size: 20px;
        line-height: 120%;
        color: #FFFFFF;
    }

    .dis_avater {
        h4 {
            font-weight: 400;
            font-size: 25px;
            line-height: 120%;
            color: #9DB4D3;
            margin-bottom: 4px;
        }

        h2 {
            font-weight: 700;
            font-size: 39px;
            line-height: 120%;
            color: #FFC700;
            margin-bottom: 12px;

            span {
                margin-left: 16px;
                background: #1E4E34;
                border-radius: 4px;
                padding: 4px;
                font-weight: 400;
                font-size: 13px;
                line-height: 120%;
                color: #05BB59;
                display: inline;
            }
        }
    }

    .range2 {
        width: 84px;
        height: 8px;
        border-radius: 8px;
        background: linear-gradient(90deg, #FF7C8F 0%, #F02F4B 100%);
    }

    .range {
        display: flex;
        align-items: center;
        overflow: hidden;
        border-radius: 8px;
        width: 505px;
        height: 8px;

        span {
            display: block;
            height: 8px;
            margin: 0;
        }
    }
}

.dis__input {
    background: #0E0726;
    border: 1px solid #2C1F59;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 15px;
    width: 382px;

    input {
        background: none;
        border: none;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        color: white;

        &::placeholder {
            font-weight: 400;
            font-size: 16px;
            line-height: 120%;
            color: #675E84;
        }
    }
}

.disImg_big2 {
    img {
        width: 249px;
        height: 190px;
    }
}

.modal__dis {
    h3 {
        font-weight: 400;
        font-size: 39px !important;
        line-height: 120%;
        color: #FFFFFF;
    }
    p{
        width: 90%;
    }
}