.modal__gap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__box {
    padding: 50px 65px;
    background: #0E0726;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    border: 1px solid #ffffff2e;
    width: 914px;
    position: relative;

    .modal__title {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 32px;

        .off {
            position: absolute;
            right: 20px;
            top: 20px;
            cursor: pointer;

            i {
                font-size: 28px;
            }
        }

        .title {
            h2 {
                font-weight: 400;
                font-size: 31px;
                line-height: 120%;
                color: #9DB4D3;
                margin-bottom: 12px;

                i {
                    margin-right: 5px;
                }
            }

            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 120%;
                color: #FFFFFF;
            }
        }
    }

    .modal__content {
        .innr {
            flex: 1;

            a {
                margin-bottom: 8px;
            }

            .take {
                font-weight: 400;
                font-size: 20px;
                line-height: 120%;
                color: #FFC700;
                margin-bottom: 5px;
                cursor: pointer;
            }

            .cancel {
                font-weight: 400;
                font-size: 20px;
                line-height: 120%;
                color: #9DB4D3;
                cursor: pointer;
            }
        }

        .mrkt_item {
            display: block;
        }

        .pinCode {
            margin: 0 !important;
        }

        .dis {
            margin: 0 !important;
        }

        .trade {
            font-weight: 700;
            font-size: 20px;
            line-height: 120%;
            color: #675E84;
            display: block;
            margin-bottom: 16px;
        }

        .modal__btn {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 12px;
        }
    }
}

.succes__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #FFFFFF;
    margin-bottom: 50px;
}

.success {
    gap: 64px;

    img {
        max-width: inherit;
    }
}

.mod__id {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #675E84;
}

.modal__text {
    h2 {
        font-weight: 700;
        font-size: 39px;
        line-height: 120%;
        color: #FFC700;
    }

    p {
        font-weight: 400;
        font-size: 20px;
        line-height: 120%;
        color: #FFFFFF;
    }
}

.balance {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #9DB4D3;

    span {
        font-weight: 700;
        font-size: 25px;
        line-height: 120%;
        color: #FFFFFF;
        margin-left: 5px;
    }
}

.deposit {
    display: flex;
    align-items: center;
    gap: 24px;

    .pay {
        flex: 1;

        h4 {
            font-weight: 400;
            font-size: 31px;
            line-height: 120%;
            color: #FFFFFF;
            margin-bottom: 12px;
        }

        p {
            font-weight: 700;
            font-size: 25px;
            line-height: 120%;
            color: #FFC700;

            span {
                font-weight: 400;
                font-size: 25px;
                line-height: 120%;
                color: #9DB4D3;
            }
        }

        .pay__tran {
            display: block;
            margin-bottom: 8px;
            font-weight: 400;
            font-size: 16px;
            line-height: 120%;
            color: #9DB4D3;
        }

        .pay__img {
            background: #0E0726;
            box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.25);
            border-radius: 16px;
            padding: 80px 60px;
            border: 1px solid #ffffff66;
            margin-bottom: 24px;
            text-align: center;
        }
    }
}

.dipo {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #9DB4D3;
}

.dipo__amount {
    background: #0E0726;
    border: 1px solid #2C1F59;
    border-radius: 8px;
    padding: 14px 16px;
    gap: 5px;

    input {
        flex: 1;
        background: none;
        border: none;
        outline: none;
        color: white;
    }

    .upDown {
        display: flex;
        flex-direction: column;
        margin-right: 10px;

        i {
            cursor: pointer;
            font-size: 12px;
        }
    }
}

.kyc_t {
    font-size: 25px !important;
    margin-bottom: 25px;
}

.djSell_box {
    background: #0E0726;
    border-radius: 16px;
    padding: 30px;
    gap: 30px;
    display: flex;
    align-items: flex-start;
    border: 1px solid #222222d1;

    .djPro__img {
        width: 30%;

        span {
            font-weight: 400;
            font-size: 16px;
            line-height: 120%;
            color: #01CDED;
            margin-bottom: 5px;
        }

        p {
            font-weight: 400;
            font-size: 25px;
            line-height: 120%;
            color: #FFFFFF;
        }
    }
}

.djPro__content {
    width: 70%;
}

.dj__sellOption {
    display: flex;
    gap: 20px;

    .dj__p {
        flex: 1;

        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 120%;
            color: #9DB4D3;
            margin-bottom: 8px;
        }
    }

    .dj__op {
        border: 1px solid #2C1F59;
        border-radius: 8px;
        padding: 15px;
        cursor: pointer;

        input {
            color: white;
            background: none;
            border: none;
            outline: none;
        }

        span {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

}

.djSell__footerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #222222d1;

    .fc__total {
        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 120%;
            color: #9DB4D3;
            text-align: right;
            margin-bottom: 8px;
        }

        span {
            font-weight: 700;
            font-size: 39px;
            line-height: 120%;
            color: #FFC700;
        }
    }
}

.add404 {
    h3 {
        font-weight: 400;
        font-size: 25px;
        line-height: 120%;
        color: #FFFFFF;
    }

    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        color: #FFFFFF;
    }
}

.sellNeed {
    color: #FFC700;
    font-size: 25px;
}

.sellWant{
    font-size: 30px;
}