// =============== RESPONSIVE =================

@media all and (max-width: 1400px) {
    .header_area .header__slider .bt__deals {
        width: 90%;
    }

    .header_area .h_nav {
        gap: 65px;
    }

    .header_area .headerSwiper .swiper-button-prev {
        right: 11%;
    }
}

@media all and (max-width: 1200px) {
    .section_center {
        width: 100%;
    }

    .general__accor .g_accorItem {
        width: 100%;
    }

    .dis_content .range {
        width: 100%;
    }

    .header_area .headerSwiper .swiper-button-prev {
        right: 13%;
    }

    .account .account_content .account__text {
        left: 45%;
        width: 50%;
    }

    .header_area .header__slider .bt__deals h4 {
        font-size: 34px;
    }
}

@media all and (max-width: 992px) {
    .general__accor .g_accorItem {
        padding: 14px;
    }

    .general__accor .g_accorItem h2 {
        font-size: 15px;
        gap: 12px;
        align-items: flex-start;
    }

    .mr__filter {
        overflow: hidden;
        height: 65px;
    }

    .mr__filter .filter {
        border-radius: 6px;
        padding: 18px;
        border-bottom: inherit;
        border: solid 2px #2C1F59;
        margin-bottom: 8px;
    }

    .section__title h1 {
        font-size: 32px;
    }

    .dis_content .range {
        width: 505px;
    }

    .discountItems__area .dis__img {
        gap: 70px;
        justify-content: center;
    }

    .discountItems__area .dis__title h3 {
        font-size: 40px;
    }

    .djSell__footerContent .fc__total span {
        font-size: 30px;
    }

    .sellWant {
        font-size: 20px;
    }

    .sellNeed {
        font-size: 20px;
    }

    .dj__sellOption .dj__op span {
        font-size: 14px;
    }

    .dj__sellOption .dj__op {
        padding: 12px;
    }

    .dj__sellOption .dj__p p {
        font-size: 13px;
    }

    .djSell_box {
        padding: 24px;
    }

    .djSell_box .djPro__img p {
        font-size: 20px;
    }

    .djSell_box .djPro__img span {
        font-size: 12px;
    }

    .header_area .h_nav {
        gap: 25px;
    }

    .marketPlace .marketPlace__items .mpItems__list {
        width: 50%;
    }

    .marketPlace .marketPlace__items {
        gap: 50px;
    }

    .header_area h3 {
        width: 80%;
    }

    .header_area .header__slider {
        flex-direction: column;
    }

    .headerSwiper {
        width: 100%;
    }

    .header_area .headerSwiper .swiper-button-prev {
        right: 55%;
    }

    .header_area .headerSwiper .swiper-button-next {
        right: 45%;
    }

    .header_area .headerSwiper .swiper-pagination-fraction {
        right: 49.8%;
    }

    .account .account_content .account__text {
        position: initial;
        transform: inherit;
        width: 100%;
    }

    .account .account_content {
        padding: 50px;
    }
}

@media all and (max-width: 768px) {

    .mr__filter .filter label,
    .mr__filter .filter a {
        font-size: 16px;
    }

    .section__title h1 {
        font-size: 26px;
    }

    .discountItems__area .dis__img .disImg_small {
        flex-direction: row;
        gap: 40px;
    }

    .discountItems__area .dis__img {
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
    }

    .djSell__footerContent {
        align-items: flex-start;
        flex-direction: column;
        gap: 20px;
    }

    .djPro__content {
        width: 100%;
    }

    .dj__img {
        text-align: center;
    }

    .djSell_box .djPro__img {
        width: 100%;
    }

    .djSell_box {
        flex-direction: column;
    }

    .h_btn {
        width: 100%;
    }

    .btn {
        width: 100%;
    }

    .discountItems__area .dis__title p {
        font-size: 15px;
    }

    .dis_content span {
        font-size: 13px;
    }

    .dis_content .dis_avater h2 {
        font-size: 26px;
    }

    .dis_content p {
        font-size: 15px;
    }

    .discountItems__area .dis__title span {
        font-size: 14px;
    }

    .modal__dis h3 {
        font-size: 28px !important;
    }

    .dj__sellOption .dj__op input {
        font-size: 14px;
    }

    .dj__sellOption .dj__p {
        width: 100%;
    }

    .djSell__footerContent .fc__total span {
        font-size: 25px;
    }

    .fc__text p {
        font-size: 15px;
    }

    .dj__sellOption .dj__op span {
        font-size: 12px;
    }

    .djSell_box .djPro__img span {
        font-size: 10px;
    }

    .djSell_box .djPro__img p {
        font-size: 15px;
    }

    .sellWant {
        font-size: 15px;
    }

    .sellNeed {
        font-size: 15px;
    }

    .kyc_t {
        font-size: 20px !important;
        margin-bottom: 20px;
    }

    .modal__box .modal__title {
        margin-bottom: 24px;
    }

    .dipo__amount {
        padding: 12px 14px;
    }

    .dipo {
        font-size: 14px;
    }

    .deposit .pay p span {
        font-size: 18px;
    }

    .deposit .pay p {
        font-size: 18px;
    }

    .deposit .pay .pay__tran {
        font-weight: 400;
        font-size: 13px;
    }

    .deposit .pay h4 {
        font-size: 25px;
    }

    .balance span {
        font-size: 22px;
    }

    .balance {
        font-size: 15px;
    }

    .deposit .pay .pay__img {
        padding: 60px 40px;
    }

    .modal__text p {
        font-size: 15px;
    }

    .modal__text h2 {
        font-size: 32px;
    }

    .success img {
        width: 184px;
        height: 184px;
    }

    .succes__text {
        font-size: 15px;
        margin-bottom: 35px;
    }

    .btn {
        padding: 12px 24px 12px 24px;
        font-size: 15px;
    }

    .modal__box .modal__title .title h2 {
        font-size: 24px;
    }

    .mrkt_item .dis__price .dis span {
        font-size: 10px;
    }

    .mrkt_item .dis__price .pinCode p {
        font-size: 15px;
    }

    .modal__box .modal__content .innr .take {
        font-size: 15px;
    }

    .modal__box .modal__content .innr .cancel {
        font-size: 14px;
    }

    .h_btn {
        padding: 12px 18px 12px 18px;
        font-size: 15px;
    }


    .mrkt_item .dis__price .dis span {
        font-size: 10px;
    }

    .modal__box .modal__title .title p {
        font-size: 14px;
    }

    .modal__box .modal__title .off i {
        font-size: 22px;
    }

    .modal__box {
        padding: 40px;
        width: 100%;
    }

    .mrkt_item h6 {
        font-size: 12px;
    }

    .modal__box .modal__content .trade {
        font-size: 15px;
    }

    .marketPlace {
        background-position: 84% -53%;
    }
}

@media all and (max-width: 567px) {
    .modal__box .modal__title .off {
        right: 13px;
        top: 9px;
    }

    .modal__box .modal__title .off i {
        font-size: 18px;
    }

    .discountItems__area .dis__img .disImg_big img {
        width: 300px;
        height: 300px;
    }

    .dis__input {
        width: 100%;
    }

    .dis_content .range {
        width: 100%;
    }


    .sellNeed {
        font-size: 12px;
    }

    .dj__sellOption {
        gap: 14px;
        flex-wrap: wrap;
    }

    .dipo__amount input {
        font-size: 12px;
    }

    .dipo {
        font-size: 12px;
    }

    .balance span {
        font-size: 18px;
    }

    .balance {
        font-size: 12px;
    }

    .modal__box .modal__title .title p {
        font-size: 12px;
    }

    .pay__img img {
        width: 60px;
        height: 60px;
    }

    .deposit .pay .pay__img {
        padding: 40px 26px;
    }

    .modal__box {
        padding: 28px;
    }

    .discountItems__area .dis__title {
        margin-bottom: 55px;
    }

    .discountItems__area .dis__img {
        justify-content: center;
    }

    .modal__box .modal__content .modal__btn {
        flex-direction: column;
    }

    .h_btn {
        font-size: 13px;
    }

    .btn {
        font-size: 13px;
    }

    .success {
        gap: 44px;
    }

    .success {
        gap: 44px;
    }

    .modal__box .modal__title .title h2 {
        font-size: 18px;
    }

    .modal__box .modal__content .innr {
        flex: inherit;
    }

    .market__items {
        justify-content: space-evenly;
    }

    .marketPlace {
        background-position: 74% -21%;
    }

    .marketPlace .marketPlace__items .mpItems__list {
        width: 100%;
    }

    .marketPlace .marketPlace__items {
        flex-direction: column;
    }

    .header_area .headerSwiper .swiper-button-next {
        right: 40%;
    }

    .header_area .headerSwiper .swiper-pagination-fraction {
        right: 46.8%;
    }
}