@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

a,
p,
span,
li,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

body {
    background: #0E0726;
    color: white;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: white !important;
}

ul {
    list-style-type: none;
}

.menu {
    border: none;

    span {
        color: white;
        background-image: none;

        i {
            font-size: 25px;
        }
    }
}

.btn {
    background: #FFC700;
    border-radius: 8px;
    padding: 15px 35px 15px 35px;
    font-size: 18px;
    font-weight: 700;
    color: #0E0726;

    &:hover {
        background: #e7b400;
        transition: 0.3s;
        color: #0E0726;
    }
}

.header_area {
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;

    h1 {
        font-weight: 800;
        font-size: 50px;
        text-align: center;
        text-transform: uppercase;
        color: #9DB4D3;
        margin-bottom: 24px;
    }

    h3 {
        font-weight: 400;
        font-size: 49px;
        text-align: center;
        width: 40%;
        margin: 0 auto;
        color: #FFFFFF;
        margin-bottom: 24px;
    }

    .header__slider {
        display: flex;
        justify-content: space-between;
        gap: 50px;
        padding: 80px 0px;

        .bt__deals {
            width: 60%;

            span {
                background: #01CDED;
                border-radius: 2px;
                padding: 8px 15px;
                display: block;
                font-weight: 700;
                font-size: 13px;
                text-transform: uppercase;
                color: #0E0726;
                width: fit-content;
                margin-bottom: 20px;
            }

            h4 {
                font-weight: 400;
                font-size: 39px;
                color: #9DB4D3;
            }
        }
    }

    .headerSwiper {
        .swiper-pagination-fraction {
            width: fit-content;
            left: auto;
            right: 7.4%;
            top: 94%;
        }

        .swiper-button-prev {
            left: auto;
            right: 10%;
            top: 88%;
            background: #2C1F59;
            width: 35px;
            height: 35px;
            border-radius: 50%;

            &::after {
                font-size: 14px;
                font-weight: 600;
                color: white;
            }
        }

        .swiper-button-next {
            left: auto;
            right: 5%;
            top: 88%;
            background: #2C1F59;
            width: 35px;
            height: 35px;
            border-radius: 50%;

            &::after {
                font-size: 14px;
                font-weight: 600;
                color: white;
            }
        }

        .swiper-slide {
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 54.17%, rgba(255, 255, 255, 0.2) 100%);
            border-radius: 4px;
            color: white;
            padding: 15px;
            border: 1px solid #222222d1;
            transition: 0.3s;
            margin-bottom: 90px;
            height: 305px;

            &:hover {
                border: 1px solid #ffffff66;
            }

            p {
                i {
                    margin-right: 11px;
                }
            }

            img {
                height: 123px;
                width: 100%;
                margin-bottom: 20px;
            }

            h6 {
                color: white;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 20px;

                span {
                    color: #01CDED;
                }
            }

            .dis__price {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .dis {
                    margin-bottom: 5px;

                    span {
                        font-weight: 400;
                        font-size: 13px;
                        color: #05BB59;
                        padding: 4px;
                        background: #1E4E34;
                        border-radius: 4px;
                    }

                    p {
                        font-weight: 400;
                        font-size: 20px;
                        color: #FFC700;
                    }
                }

                .pinCode {
                    margin-bottom: 16px;

                    span {
                        font-weight: 400;
                        font-size: 13px;
                        text-align: right;
                        color: #9DB4D3;
                    }

                    p {
                        font-weight: 400;
                        font-size: 20px;
                        text-align: right;
                        color: #9DB4D3;

                        i {
                            margin-right: 4px;
                        }
                    }
                }
            }
        }
    }

    .hero_bnnr {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hero_btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navigation {
        padding: 50px 0 0;
        margin-bottom: 36px;
    }

    .h_nav {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 90px;

        li {
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                &:hover {
                    color: #FFC700 !important;
                    transition: 0.3s;
                }
            }

            i {
                margin-left: 5px;
                font-size: 13px;

            }
        }
    }

    .connect_btn {
        .h_btn {
            padding: 15px 24px 15px 24px;
            background: #0E0726;
            border: 2px solid #FFC700;
            border-radius: 8px;
            font-size: 18px;
            color: #FFC700;
            font-weight: 700;

            i {
                margin-right: 5px;
            }

            &:hover {
                background: #FFC700;
                color: #0E0726;
                transition: 0.3s;
            }
        }
    }
}

.account {
    padding: 108px 0px;
    position: relative;

    .shining {
        position: absolute;
        bottom: -12%;
        left: 0;
    }

    .account_content {
        background: linear-gradient(96.78deg, rgba(255, 255, 255, 0.03) 1.73%, rgba(255, 255, 255, 0) 106.49%);
        border-radius: 50px;
        padding: 70px;
        position: relative;

        .account__text {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 70%;
            width: 70%;

            h4 {
                font-size: 39px;
                line-height: 120%;
                color: #9DB4D3;
                margin-bottom: 25px;
            }

            p {
                line-height: 120%;
                margin-bottom: 40px;
            }
        }
    }
}

.marketPlace {
    padding: 90px 0px;
    background-repeat: no-repeat;
    background-position: 35% -105%;


    h2 {
        font-weight: 400;
        font-size: 39px;
        line-height: 120%;
        color: #9DB4D3;
        margin-bottom: 130px;
        text-align: center;
    }

    .marketPlace__items {
        margin-bottom: 80px;

        .mpItems__list {
            background: #130A35;
            box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.25);
            border-radius: 8px;
            padding: 60px 32px 32px;
            width: 385px;
            position: relative;

            span {
                position: absolute;
                background: #130A35;
                border: 1px solid #FFC700;
                box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.25);
                border-radius: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                top: 0;
                left: 0;
                width: 64px;
                height: 64px;
                transform: translate(100%, -50%);

                p {
                    font-size: 31px;
                    color: #FFC700;
                }
            }

            h5 {
                font-weight: 400;
                font-size: 25px;
                line-height: 120%;
                color: #FFC700;
                margin-bottom: 15px;
            }
        }
    }


}

.footer {
    padding-bottom: 70px;

    .footer__content {
        p {
            font-size: 14px;
        }

        span {
            font-weight: 400;
            font-size: 13px;
            color: #9DB4D3;
        }
    }

    .footer__list {
        ul {
            li {
                margin-bottom: 10px;

                a {
                    transition: 0.3s;

                    &:hover {
                        margin-left: 5px;
                        color: #FFC700 !important;
                    }
                }
            }
        }

        h3 {
            font-weight: 400;
            font-size: 20px;
            color: #9DB4D3;
            margin-bottom: 32px;
        }

        .payment {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }

}


// =============== RESPONSIVE =================

@media all and (max-width: 1400px) {
    .header_area .header__slider .bt__deals {
        width: 90%;
    }

    .header_area .h_nav {
        gap: 65px;
    }

    .header_area .headerSwiper .swiper-button-prev {
        right: 11%;
    }
}

@media all and (max-width: 1200px) {
    .header_area .headerSwiper .swiper-button-prev {
        right: 13%;
    }

    .account .account_content .account__text {
        left: 45%;
        width: 50%;
    }

    .header_area .header__slider .bt__deals h4 {
        font-size: 34px;
    }
}

@media all and (max-width: 992px) {
    .header_area .h_nav {
        gap: 25px;
    }

    .marketPlace .marketPlace__items .mpItems__list {
        width: 50%;
    }

    .marketPlace .marketPlace__items {
        gap: 50px;
    }

    .header_area h3 {
        width: 80%;
    }

    .header_area .header__slider {
        flex-direction: column;
    }

    .headerSwiper {
        width: 100%;
    }

    .header_area .headerSwiper .swiper-button-prev {
        right: 55%;
    }

    .header_area .headerSwiper .swiper-button-next {
        right: 45%;
    }

    .header_area .headerSwiper .swiper-pagination-fraction {
        right: 49.8%;
    }

    .account .account_content .account__text {
        position: initial;
        transform: inherit;
        width: 100%;
    }

    .account .account_content {
        padding: 50px;
    }
}

@media all and (max-width: 768px) {
    .marketPlace {
        background-position: 84% -53%;
    }
}

@media all and (max-width: 567px) {
    .marketPlace {
        background-position: 74% -21%;
    }

    .marketPlace .marketPlace__items .mpItems__list {
        width: 100%;
    }

    .marketPlace .marketPlace__items {
        flex-direction: column;
    }

    .header_area .headerSwiper .swiper-button-next {
        right: 40%;
    }

    .header_area .headerSwiper .swiper-pagination-fraction {
        right: 46.8%;
    }
}