@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
.menu {
  position: relative;
}

.menu:hover .sub__menu {
  visibility: visible;
  opacity: 1;
  top: 130%;
}

.menu .sub__menu {
  position: absolute;
  top: 170%;
  left: -20px;
  background: #0E0726;
  border: 1px solid #2C1F59;
  border-radius: 8px;
  width: 200px;
  z-index: 99;
  padding: 16px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu .sub__menu li {
  color: white;
  padding-bottom: 15px;
  border-bottom: 1px solid #2C1F59;
  margin-bottom: 15px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu .sub__menu li:hover {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
  color: #FFC700;
}

.menu .sub__menu li:last-child {
  border-bottom: none;
  padding: 0;
  margin: 0;
}

.login {
  gap: 37px;
}

.login .login__user {
  cursor: pointer;
  gap: 5px;
}

.login .login__user:hover {
  color: #FFC700;
}

.login .login__user i {
  color: #9DB4D3;
  margin-right: 5px;
}

.header__sortList .sortList ul {
  gap: 40px;
}

.header__sortList .sortList ul li a {
  color: #9DB4D3 !important;
}

.header__sortList .sortList ul li a:hover {
  color: white !important;
}

.header__sortList .searchList {
  gap: 20px;
}

.header__sortList .searchList .search {
  background: #0E0726;
  border: 1px solid #2C1F59;
  border-radius: 8px;
  padding: 12px;
}

.header__sortList .searchList .search i {
  margin-right: 15px;
  font-size: 20px;
}

.header__sortList .searchList .search input {
  background: none;
  border: none;
  outline: none;
  color: white;
  font-size: 16px;
}

.header__sortList .searchList .search input::-webkit-input-placeholder {
  color: white;
}

.header__sortList .searchList .search input:-ms-input-placeholder {
  color: white;
}

.header__sortList .searchList .search input::-ms-input-placeholder {
  color: white;
}

.header__sortList .searchList .search input::placeholder {
  color: white;
}

.header__sortList .searchList .sort__dropDown span {
  color: #9DB4D3;
}

.header__sortList .searchList .sort__dropDown .s__sub-dropDown {
  cursor: pointer;
}

.header__sortList .searchList .sort__dropDown .s__sub-dropDown .sub__menu {
  right: 0 !important;
  left: inherit !important;
}

.market__items {
  gap: 25px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.pagination i {
  cursor: pointer;
  border: 1px solid #2C1F59;
  padding: 11px 13px;
  border-radius: 5px;
}

.pagination i:hover {
  background: #2C1F59;
  color: #FFC700;
}

.pagination span {
  cursor: pointer;
  border: 1px solid #2C1F59;
  padding: 7px 13px;
  border-radius: 5px;
}

.pagination span:hover {
  background: #2C1F59;
  color: #FFC700;
}

.pagination .paginationCount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.mrkt_item {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(54.17%, rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.2)));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 54.17%, rgba(255, 255, 255, 0.2) 100%);
  border-radius: 4px;
  color: white;
  padding: 15px;
  border: 1px solid #222222d1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 100%;
}

.mrkt_item:hover {
  border: 1px solid #ffffff66;
}

.mrkt_item p i {
  margin-right: 11px;
}

.mrkt_item img {
  height: 123px;
  width: 100%;
  margin-bottom: 20px;
}

.mrkt_item h6 {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.mrkt_item h6 span {
  color: #01CDED;
}

.mrkt_item .dis__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mrkt_item .dis__price .dis {
  margin-bottom: 5px;
}

.mrkt_item .dis__price .dis span {
  font-weight: 400;
  font-size: 13px;
  color: #05BB59;
  padding: 4px;
  background: #1E4E34;
  border-radius: 4px;
}

.mrkt_item .dis__price .dis p {
  font-weight: 400;
  font-size: 20px;
  color: #FFC700;
}

.mrkt_item .dis__price .pinCode {
  margin-bottom: 16px;
}

.mrkt_item .dis__price .pinCode span {
  font-weight: 400;
  font-size: 13px;
  text-align: right;
  color: #9DB4D3;
}

.mrkt_item .dis__price .pinCode p {
  font-weight: 400;
  font-size: 20px;
  text-align: right;
  color: #9DB4D3;
}

.mrkt_item .dis__price .pinCode p i {
  margin-right: 4px;
}

.mar__sliderItems h3 {
  font-weight: 400;
  font-size: 25px;
  line-height: 120%;
  color: #FFFFFF;
}

.mar__sliderItems .mrslider .swiper-wrapper {
  height: 400px;
  margin-top: 45px;
}

.mar__sliderItems .mrslider .swiper-button-next::after {
  display: none;
}

.mar__sliderItems .mrslider .swiper-button-prev::after {
  display: none;
}

.mar__sliderItems .mrslider .swiper-button-prev {
  right: 120px !important;
  left: inherit !important;
  top: 10px !important;
}

.mar__sliderItems .mrslider .swiper-button-prev i {
  color: gray;
  font-size: 22px;
}

.mar__sliderItems .mrslider .swiper-button-prev i:hover {
  color: #FFC700;
}

.mar__sliderItems .mrslider .swiper-button-next {
  right: 70px !important;
  top: 10px !important;
}

.mar__sliderItems .mrslider .swiper-button-next i {
  color: gray;
  font-size: 22px;
}

.mar__sliderItems .mrslider .swiper-button-next i:hover {
  color: #FFC700;
}

.mar__sliderItems .mrslider .swiper-slide {
  padding-left: 5px;
}

.mar__sliderItems .mrslider .swiper-slide .mr_title {
  border-radius: 20px 20px 0px 0px;
  padding: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  border: solid 1px #8080804f;
  border-bottom: none;
}

.mar__sliderItems .mrslider .swiper-slide .mr_title p {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #FFFFFF;
}

.mar__sliderItems .mrslider .swiper-slide .mr_title .mr__pro {
  border-bottom: solid 1px #8080804f;
  margin-bottom: 16px;
}

.mar__sliderItems .mrslider .swiper-slide .mr_title .mr__pro img {
  width: 100%;
  height: 114px;
}

.mar__sliderItems .mrslider .swiper-slide .mr_title .mr__price span {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #01CDED;
}

.mar__sliderItems .mrslider .swiper-slide .mr_title .mr__price .price span {
  font-weight: 400;
  font-size: 10px;
  line-height: 120%;
  color: #9DB4D3;
  display: block;
  margin-bottom: 10px;
}

.mar__sliderItems .mrslider .swiper-slide .mr_title .mr__price .price p {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #FFC700;
}

.mar__sliderItems .mrslider .swiper-slide .mr_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.mr__sliderBtn {
  text-align: center;
}

.mr__sliderBtn .mrBtn {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFC700;
  border: solid 3px #FFC700;
  border-radius: 10px;
  padding: 15px 25px;
  background: #0E0726;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.mr__sliderBtn .mrBtn:hover {
  background: #FFC700;
  color: #0E0726;
}

.mr__filter .filter {
  padding: 24px 0px;
  border-bottom: solid 2px #2C1F59;
}

.mr__filter .filter a:hover {
  color: #FFC700 !important;
}

.mr__filter .filter a:hover span {
  color: #FFC700;
}

.mr__filter .filter input[type="radio"] {
  display: none;
}

.mr__filter .filter input[type="radio"]:checked + lebel + .content {
  max-height: 400px;
}

.mr__filter .filter label,
.mr__filter .filter a {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #FFFFFF;
  cursor: pointer;
}

.mr__filter .filter label span,
.mr__filter .filter a span {
  margin-left: 10px;
  font-weight: 400;
  font-size: 13px;
  line-height: 120%;
  color: #9DB4D3;
}

.mr__filter .filter .content {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.5s;
  transition: max-height 0.5s;
}

.general__accor .g_accorItem {
  border: solid 1px #8080804f;
  border-top: none;
  border-radius: 8px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding: 20px;
  margin-top: 15px;
  width: 778px;
}

.general__accor .g_accorItem h2 {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #9DB4D3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.general__accor .g_accorItem h2:hover {
  color: white;
}

.general__accor .g_accorItem .gAccorContent {
  border-top: solid 1px #8080804f;
  padding: 20px 0px;
  margin-top: 25px;
  display: none;
}

.general__accor .g_accorItem .gAccorContent p {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #FFFFFF;
}

.blog {
  overflow: hidden;
  border-radius: 16px;
  border: solid 1px #8080804f;
}

.blog .arSide_img img {
  height: 140px !important;
}

.blog .ar_img img {
  height: 540px;
}

.blog .ar_para {
  color: #FFFFFF !important;
}

.blog .blog_img img {
  height: 332px;
}

.blog .bl {
  width: 100%;
}

.blog .blog_content {
  padding: 32px;
}

.blog .blog_content span {
  font-weight: 400;
  font-size: 13px;
  line-height: 120%;
  color: #FFC700;
  background: #3D361D;
  border-radius: 4px;
  padding: 8px;
  display: inline-block;
  margin-bottom: 12px;
}

.blog .blog_content h5 {
  font-weight: 400;
  font-size: 25px;
  line-height: 120%;
  color: #FFFFFF;
  margin-bottom: 24px;
}

.blog .blog_content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #9DB4D3;
  margin-bottom: 16px;
}

.blog .blog_content a {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #FFC700 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.blog .blog_content a i {
  color: #FFC700;
  margin-top: 5px;
}

.latest {
  font-weight: 700;
  font-size: 13px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: uppercase;
  line-height: 120%;
  color: #0E0726;
  background: #01CDED;
  border-radius: 2px;
  padding: 9px 14px;
}

.policy span {
  font-weight: 400;
  font-size: 13px;
  line-height: 120%;
  color: #FFC700;
  background: #3D361D;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 24px;
  display: inline-block;
}

.ab__para p {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #FFFFFF;
}

.ab__para .ab__goal h5 {
  font-weight: 400;
  font-size: 25px;
  line-height: 120%;
  color: #9DB4D3;
}

.ab__service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 24px;
}

.ab__service .abService__img img {
  max-width: inherit;
}

.ab__service .abService__content h6 {
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: #FFC700;
}

.ab__investor h5 {
  font-weight: 400;
  font-size: 25px;
  line-height: 120%;
  color: #9DB4D3;
}

.inven__box {
  background: linear-gradient(96.78deg, rgba(255, 255, 255, 0.03) 1.73%, rgba(255, 255, 255, 0) 106.49%);
  border-radius: 50px;
  padding: 50px 80px;
  border: solid 1px #8080804f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1058px;
}

.inven__box .inven__content h3 {
  font-weight: 400;
  font-size: 31px;
  line-height: 120%;
  color: #9DB4D3;
}

.inven__box .inven__content p {
  width: 80%;
}

.inven__box .inven__content a {
  color: black !important;
}

.inven__itemBox .inven_p2 {
  border: 1px solid #FFC700;
  border-radius: 8px;
  gap: 12px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #FFC700 !important;
}

.inven__itemBox .inven_p {
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  gap: 12px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: white !important;
}

.modal__gap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__box {
  padding: 50px 65px;
  background: #0E0726;
  -webkit-box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  border: 1px solid #ffffff2e;
  width: 914px;
  position: relative;
}

.modal__box .modal__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 32px;
}

.modal__box .modal__title .off {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.modal__box .modal__title .off i {
  font-size: 28px;
}

.modal__box .modal__title .title h2 {
  font-weight: 400;
  font-size: 31px;
  line-height: 120%;
  color: #9DB4D3;
  margin-bottom: 12px;
}

.modal__box .modal__title .title h2 i {
  margin-right: 5px;
}

.modal__box .modal__title .title p {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #FFFFFF;
}

.modal__box .modal__content .innr {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.modal__box .modal__content .innr a {
  margin-bottom: 8px;
}

.modal__box .modal__content .innr .take {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #FFC700;
  margin-bottom: 5px;
  cursor: pointer;
}

.modal__box .modal__content .innr .cancel {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #9DB4D3;
  cursor: pointer;
}

.modal__box .modal__content .mrkt_item {
  display: block;
}

.modal__box .modal__content .pinCode {
  margin: 0 !important;
}

.modal__box .modal__content .dis {
  margin: 0 !important;
}

.modal__box .modal__content .trade {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #675E84;
  display: block;
  margin-bottom: 16px;
}

.modal__box .modal__content .modal__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.succes__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #FFFFFF;
  margin-bottom: 50px;
}

.success {
  gap: 64px;
}

.success img {
  max-width: inherit;
}

.mod__id {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #675E84;
}

.modal__text h2 {
  font-weight: 700;
  font-size: 39px;
  line-height: 120%;
  color: #FFC700;
}

.modal__text p {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #FFFFFF;
}

.balance {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #9DB4D3;
}

.balance span {
  font-weight: 700;
  font-size: 25px;
  line-height: 120%;
  color: #FFFFFF;
  margin-left: 5px;
}

.deposit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}

.deposit .pay {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.deposit .pay h4 {
  font-weight: 400;
  font-size: 31px;
  line-height: 120%;
  color: #FFFFFF;
  margin-bottom: 12px;
}

.deposit .pay p {
  font-weight: 700;
  font-size: 25px;
  line-height: 120%;
  color: #FFC700;
}

.deposit .pay p span {
  font-weight: 400;
  font-size: 25px;
  line-height: 120%;
  color: #9DB4D3;
}

.deposit .pay .pay__tran {
  display: block;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #9DB4D3;
}

.deposit .pay .pay__img {
  background: #0E0726;
  -webkit-box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  padding: 80px 60px;
  border: 1px solid #ffffff66;
  margin-bottom: 24px;
  text-align: center;
}

.dipo {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #9DB4D3;
}

.dipo__amount {
  background: #0E0726;
  border: 1px solid #2C1F59;
  border-radius: 8px;
  padding: 14px 16px;
  gap: 5px;
}

.dipo__amount input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: none;
  border: none;
  outline: none;
  color: white;
}

.dipo__amount .upDown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 10px;
}

.dipo__amount .upDown i {
  cursor: pointer;
  font-size: 12px;
}

.kyc_t {
  font-size: 25px !important;
  margin-bottom: 25px;
}

.djSell_box {
  background: #0E0726;
  border-radius: 16px;
  padding: 30px;
  gap: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border: 1px solid #222222d1;
}

.djSell_box .djPro__img {
  width: 30%;
}

.djSell_box .djPro__img span {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #01CDED;
  margin-bottom: 5px;
}

.djSell_box .djPro__img p {
  font-weight: 400;
  font-size: 25px;
  line-height: 120%;
  color: #FFFFFF;
}

.djPro__content {
  width: 70%;
}

.dj__sellOption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.dj__sellOption .dj__p {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.dj__sellOption .dj__p p {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #9DB4D3;
  margin-bottom: 8px;
}

.dj__sellOption .dj__op {
  border: 1px solid #2C1F59;
  border-radius: 8px;
  padding: 15px;
  cursor: pointer;
}

.dj__sellOption .dj__op input {
  color: white;
  background: none;
  border: none;
  outline: none;
}

.dj__sellOption .dj__op span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.djSell__footerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 15px;
  border-bottom: 1px solid #222222d1;
}

.djSell__footerContent .fc__total p {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #9DB4D3;
  text-align: right;
  margin-bottom: 8px;
}

.djSell__footerContent .fc__total span {
  font-weight: 700;
  font-size: 39px;
  line-height: 120%;
  color: #FFC700;
}

.add404 h3 {
  font-weight: 400;
  font-size: 25px;
  line-height: 120%;
  color: #FFFFFF;
}

.add404 p {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #FFFFFF;
}

.sellNeed {
  color: #FFC700;
  font-size: 25px;
}

.sellWant {
  font-size: 30px;
}

.discountItems__area .dis__title {
  margin-bottom: 85px;
}

.discountItems__area .dis__title span {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #01CDED;
  display: block;
  margin-bottom: 5px;
}

.discountItems__area .dis__title span span {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #9DB4D3;
  display: inline-block;
  margin-right: 8px;
}

.discountItems__area .dis__title h3 {
  font-weight: 400;
  font-size: 49px;
  line-height: 120%;
  color: #FFFFFF;
  margin-bottom: 8px;
}

.discountItems__area .dis__title p {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #675E84;
  margin-bottom: 30px;
}

.discountItems__area .dis__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 80px;
}

.discountItems__area .dis__img .disImg_small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}

.discountItems__area .dis__img .disImg_small img {
  width: 70px;
  height: 53px;
  padding-bottom: 10px;
  border-bottom: 2px solid #FFC700;
}

.discountItems__area .dis__img .disImg_big img {
  width: 563px;
  height: 429px;
}

.dis_content span {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #9DB4D3;
  display: block;
  margin-bottom: 8px;
}

.dis_content p {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #FFFFFF;
}

.dis_content .dis_avater h4 {
  font-weight: 400;
  font-size: 25px;
  line-height: 120%;
  color: #9DB4D3;
  margin-bottom: 4px;
}

.dis_content .dis_avater h2 {
  font-weight: 700;
  font-size: 39px;
  line-height: 120%;
  color: #FFC700;
  margin-bottom: 12px;
}

.dis_content .dis_avater h2 span {
  margin-left: 16px;
  background: #1E4E34;
  border-radius: 4px;
  padding: 4px;
  font-weight: 400;
  font-size: 13px;
  line-height: 120%;
  color: #05BB59;
  display: inline;
}

.dis_content .range2 {
  width: 84px;
  height: 8px;
  border-radius: 8px;
  background: -webkit-gradient(linear, left top, right top, from(#FF7C8F), to(#F02F4B));
  background: linear-gradient(90deg, #FF7C8F 0%, #F02F4B 100%);
}

.dis_content .range {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  border-radius: 8px;
  width: 505px;
  height: 8px;
}

.dis_content .range span {
  display: block;
  height: 8px;
  margin: 0;
}

.dis__input {
  background: #0E0726;
  border: 1px solid #2C1F59;
  border-radius: 8px;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  width: 382px;
}

.dis__input input {
  background: none;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: white;
}

.dis__input input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #675E84;
}

.dis__input input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #675E84;
}

.dis__input input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #675E84;
}

.dis__input input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #675E84;
}

.disImg_big2 img {
  width: 249px;
  height: 190px;
}

.modal__dis h3 {
  font-weight: 400;
  font-size: 39px !important;
  line-height: 120%;
  color: #FFFFFF;
}

.modal__dis p {
  width: 90%;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.heade__nav i {
  cursor: pointer;
}

a,
p,
span,
li,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  background: #0E0726;
  color: white;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: white !important;
}

ul {
  list-style-type: none;
}

input {
  outline: none;
}

.menu {
  border: none;
  outline: none;
}

.menu:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.menu span {
  color: white;
  background-image: none;
}

.menu span i {
  font-size: 25px;
}

.fq_ac {
  color: #FFC700 !important;
}

.fq_ac span {
  color: #FFC700 !important;
}

.or__list {
  list-style-type: circle;
  list-style-position: inside;
}

.or__list li {
  padding-top: 15px;
}

.section__title h1 {
  font-weight: 400;
  font-size: 49px;
  line-height: 120%;
  color: #FFFFFF;
  margin-bottom: 40px;
}

.section__title .bi {
  color: #FFC700;
}

.section__title .breadcrumb-item a {
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 120% !important;
  color: #FFC700 !important;
}

.section_center {
  width: 1058px;
  margin: 0 auto;
}

.btn {
  background: #FFC700;
  border-radius: 8px;
  padding: 15px 35px 15px 35px;
  font-size: 18px;
  font-weight: 700;
  color: #0E0726;
}

.btn:hover {
  background: #e7b400;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #0E0726;
}

.header_area {
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.header_area h1 {
  font-weight: 800;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  color: #9DB4D3;
  margin-bottom: 24px;
}

.header_area h3 {
  font-weight: 400;
  font-size: 49px;
  text-align: center;
  width: 40%;
  margin: 0 auto;
  color: #FFFFFF;
  margin-bottom: 24px;
}

.header_area .header__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 50px;
  padding: 80px 0px;
}

.header_area .header__slider .bt__deals {
  width: 60%;
}

.header_area .header__slider .bt__deals span {
  background: #01CDED;
  border-radius: 2px;
  padding: 8px 15px;
  display: block;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  color: #0E0726;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 20px;
}

.header_area .header__slider .bt__deals h4 {
  font-weight: 400;
  font-size: 39px;
  color: #9DB4D3;
}

.header_area .headerSwiper .swiper-pagination-fraction {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  left: auto;
  right: 7.4%;
  top: 94%;
}

.header_area .headerSwiper .swiper-button-prev {
  left: auto;
  right: 10%;
  top: 88%;
  background: #2C1F59;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.header_area .headerSwiper .swiper-button-prev::after {
  font-size: 14px;
  font-weight: 600;
  color: white;
}

.header_area .headerSwiper .swiper-button-next {
  left: auto;
  right: 5%;
  top: 88%;
  background: #2C1F59;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.header_area .headerSwiper .swiper-button-next::after {
  font-size: 14px;
  font-weight: 600;
  color: white;
}

.header_area .headerSwiper .swiper-slide {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(54.17%, rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.2)));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 54.17%, rgba(255, 255, 255, 0.2) 100%);
  border-radius: 4px;
  color: white;
  padding: 15px;
  border: 1px solid #222222d1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-bottom: 90px;
  height: 305px;
}

.header_area .headerSwiper .swiper-slide:hover {
  border: 1px solid #ffffff66;
}

.header_area .headerSwiper .swiper-slide p i {
  margin-right: 11px;
}

.header_area .headerSwiper .swiper-slide img {
  height: 123px;
  width: 100%;
  margin-bottom: 20px;
}

.header_area .headerSwiper .swiper-slide h6 {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.header_area .headerSwiper .swiper-slide h6 span {
  color: #01CDED;
}

.header_area .headerSwiper .swiper-slide .dis__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_area .headerSwiper .swiper-slide .dis__price .dis {
  margin-bottom: 5px;
}

.header_area .headerSwiper .swiper-slide .dis__price .dis span {
  font-weight: 400;
  font-size: 13px;
  color: #05BB59;
  padding: 4px;
  background: #1E4E34;
  border-radius: 4px;
}

.header_area .headerSwiper .swiper-slide .dis__price .dis p {
  font-weight: 400;
  font-size: 20px;
  color: #FFC700;
}

.header_area .headerSwiper .swiper-slide .dis__price .pinCode {
  margin-bottom: 16px;
}

.header_area .headerSwiper .swiper-slide .dis__price .pinCode span {
  font-weight: 400;
  font-size: 13px;
  text-align: right;
  color: #9DB4D3;
}

.header_area .headerSwiper .swiper-slide .dis__price .pinCode p {
  font-weight: 400;
  font-size: 20px;
  text-align: right;
  color: #9DB4D3;
}

.header_area .headerSwiper .swiper-slide .dis__price .pinCode p i {
  margin-right: 4px;
}

.header_area .hero_bnnr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header_area .hero_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header_area .navigation {
  padding: 50px 0 0;
  margin-bottom: 36px;
}

.header_area .h_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 90px;
}

.header_area .h_nav li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_area .h_nav li a:hover {
  color: #FFC700 !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header_area .h_nav li i {
  margin-left: 5px;
  font-size: 13px;
}

.account {
  padding: 108px 0px;
  position: relative;
}

.account .shining {
  position: absolute;
  bottom: -12%;
  left: 0;
}

.account .account_content {
  background: linear-gradient(96.78deg, rgba(255, 255, 255, 0.03) 1.73%, rgba(255, 255, 255, 0) 106.49%);
  border-radius: 50px;
  padding: 70px;
  position: relative;
}

.account .account_content .account__text {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 70%;
  width: 70%;
}

.account .account_content .account__text h4 {
  font-size: 39px;
  line-height: 120%;
  color: #9DB4D3;
  margin-bottom: 25px;
}

.account .account_content .account__text p {
  line-height: 120%;
  margin-bottom: 40px;
}

.h_btn {
  padding: 15px 24px 15px 24px;
  background: #0E0726;
  border: 2px solid #FFC700;
  border-radius: 8px;
  font-size: 18px;
  color: #FFC700;
  font-weight: 700;
}

.h_btn i {
  margin-right: 5px;
}

.h_btn:hover {
  background: #FFC700;
  color: #0E0726;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.marketPlace {
  padding: 90px 0px;
  background-repeat: no-repeat;
  background-position: 35% -105%;
}

.marketPlace h2 {
  font-weight: 400;
  font-size: 39px;
  line-height: 120%;
  color: #9DB4D3;
  margin-bottom: 130px;
  text-align: center;
}

.marketPlace .marketPlace__items {
  margin-bottom: 80px;
}

.marketPlace .marketPlace__items .mpItems__list {
  background: #130A35;
  -webkit-box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 60px 32px 32px;
  width: 385px;
  position: relative;
}

.marketPlace .marketPlace__items .mpItems__list span {
  position: absolute;
  background: #130A35;
  border: 1px solid #FFC700;
  -webkit-box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  width: 64px;
  height: 64px;
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
}

.marketPlace .marketPlace__items .mpItems__list span p {
  font-size: 31px;
  color: #FFC700;
}

.marketPlace .marketPlace__items .mpItems__list h5 {
  font-weight: 400;
  font-size: 25px;
  line-height: 120%;
  color: #FFC700;
  margin-bottom: 15px;
}

.setting__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.setting__title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #ffffff2e;
  z-index: -1;
}

.setting__title a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  padding: 24px;
  border-bottom: 1px solid transparent;
}

.setting__title a:hover {
  color: #FFC700 !important;
  border-bottom: 1px solid #FFC700;
}

.settion__icon {
  position: relative;
}

.settion__icon .upload {
  background: #0E0726;
  border: 3px solid #FFC700;
  position: absolute;
  top: 83%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 17px 20px;
  border-radius: 50px;
  cursor: pointer;
}

.settion__icon .upload i {
  font-size: 28px;
}

.setting__status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.setting__status p {
  font-weight: 400;
  font-size: 22px;
  line-height: 120%;
  color: #FFFFFF;
  margin-bottom: 8px;
}

.setting__status span {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #FFC700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.setting__status .vari {
  font-weight: 400;
  font-size: 22px;
  line-height: 120%;
  color: #EB5757;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.profile__info form {
  width: 100%;
}

.profile__info form label {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #9DB4D3;
}

.profile__info form input {
  background: #0E0726;
  border: 1px solid #2C1F59;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 35px;
  width: 100%;
  outline: none;
  color: white;
}

.gene__box {
  border-radius: 8px;
  padding: 32px;
  border: solid 1px #222222d1;
}

.gene__title {
  padding-bottom: 20px;
  border-bottom: solid 1px #222222d1;
}

.gene__title ul {
  list-style-type: disc;
  list-style-position: inside;
}

.gene__title ul li {
  padding-bottom: 8px;
}

.gene__title input {
  background: none;
  padding: 16px;
  color: white;
  border-radius: 8px;
  border: solid 1px #222222d1;
  width: 100%;
  margin-bottom: 12px;
}

.gene__title span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #9DB4D3;
  margin-bottom: 14px;
}

.gene__title p {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #FFC700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.gene__text p {
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  margin-bottom: 12px;
}

.mode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.modeBtn {
  width: 50px;
  height: 30px;
  background: #FFC700;
  border-radius: 50px;
  position: relative;
  display: block !important;
  margin-bottom: 0 !important;
}

.modeBtn::after {
  content: "";
  position: absolute;
  right: 5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 22px;
  height: 22px;
  background: #0E0726;
  border-radius: 50%;
  cursor: pointer;
}

.allDown {
  background: #0E0726;
  border: 1px solid #2C1F59;
  border-radius: 8px;
  padding: 15px;
  cursor: pointer;
}

.footer {
  padding-bottom: 70px;
}

.footer .footer__content p {
  font-size: 14px;
}

.footer .footer__content span {
  font-weight: 400;
  font-size: 13px;
  color: #9DB4D3;
}

.footer .footer__list ul li {
  margin-bottom: 10px;
}

.footer .footer__list ul li a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer .footer__list ul li a:hover {
  margin-left: 5px;
  color: #FFC700 !important;
}

.footer .footer__list h3 {
  font-weight: 400;
  font-size: 20px;
  color: #9DB4D3;
  margin-bottom: 32px;
}

.footer .footer__list .payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

@media all and (max-width: 1400px) {
  .header_area .header__slider .bt__deals {
    width: 90%;
  }
  .header_area .h_nav {
    gap: 65px;
  }
  .header_area .headerSwiper .swiper-button-prev {
    right: 11%;
  }
}

@media all and (max-width: 1200px) {
  .blog .blog_content a i {
    margin-top: 2px;
  }
  .blog .blog_content a {
    font-size: 14px;
    gap: 12px;
  }
  .blog .blog_content p {
    font-size: 14px;
  }
  .blog .blog_content h5 {
    font-size: 20px;
  }
  .blog .blog_img img {
    height: inherit;
  }
  .section_center {
    width: 100%;
  }
  .general__accor .g_accorItem {
    width: 100%;
  }
  .dis_content .range {
    width: 100%;
  }
  .header_area .headerSwiper .swiper-button-prev {
    right: 13%;
  }
  .account .account_content .account__text {
    left: 45%;
    width: 50%;
  }
  .header_area .header__slider .bt__deals h4 {
    font-size: 34px;
  }
}

@media all and (max-width: 992px) {
  .blog .blog_content span {
    font-size: 10px;
    padding: 6px;
  }
  .blog .blog_content {
    padding: 18px;
  }
  .blog .blog_img img {
    height: 332px;
  }
  .general__accor .g_accorItem {
    padding: 14px;
  }
  .general__accor .g_accorItem h2 {
    font-size: 15px;
    gap: 12px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .mr__filter {
    overflow: hidden;
    height: 65px;
  }
  .mr__filter .filter {
    border-radius: 6px;
    padding: 18px;
    border-bottom: inherit;
    border: solid 2px #2C1F59;
    margin-bottom: 8px;
  }
  .section__title h1 {
    font-size: 32px;
    margin-bottom: 24px;
  }
  .dis_content .range {
    width: 505px;
  }
  .discountItems__area .dis__img {
    gap: 70px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .discountItems__area .dis__title h3 {
    font-size: 40px;
  }
  .djSell__footerContent .fc__total span {
    font-size: 30px;
  }
  .sellWant {
    font-size: 20px;
  }
  .sellNeed {
    font-size: 20px;
  }
  .dj__sellOption .dj__op span {
    font-size: 14px;
  }
  .dj__sellOption .dj__op {
    padding: 12px;
  }
  .dj__sellOption .dj__p p {
    font-size: 13px;
  }
  .djSell_box {
    padding: 24px;
  }
  .djSell_box .djPro__img p {
    font-size: 20px;
  }
  .djSell_box .djPro__img span {
    font-size: 12px;
  }
  .header_area .h_nav {
    gap: 25px;
  }
  .marketPlace .marketPlace__items .mpItems__list {
    width: 50%;
  }
  .marketPlace .marketPlace__items {
    gap: 50px;
  }
  .header_area h3 {
    width: 80%;
  }
  .header_area .header__slider {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .headerSwiper {
    width: 100%;
  }
  .header_area .headerSwiper .swiper-button-prev {
    right: 55%;
  }
  .header_area .headerSwiper .swiper-button-next {
    right: 45%;
  }
  .header_area .headerSwiper .swiper-pagination-fraction {
    right: 49.8%;
  }
  .account .account_content .account__text {
    position: initial;
    -webkit-transform: inherit;
            transform: inherit;
    width: 100%;
  }
  .account .account_content {
    padding: 50px;
  }
}

@media all and (max-width: 768px) {
  .dn img {
    height: inherit !important;
  }
  .blog .blog_img img {
    width: 100%;
  }
  .blog {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mr__filter .filter label,
  .mr__filter .filter a {
    font-size: 16px;
  }
  .section__title h1 {
    font-size: 26px;
  }
  .discountItems__area .dis__img .disImg_small {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 40px;
  }
  .discountItems__area .dis__img {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .djSell__footerContent {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .djPro__content {
    width: 100%;
  }
  .dj__img {
    text-align: center;
  }
  .djSell_box .djPro__img {
    width: 100%;
  }
  .djSell_box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .h_btn {
    width: 100%;
  }
  .btn {
    width: 100%;
  }
  .discountItems__area .dis__title p {
    font-size: 15px;
  }
  .dis_content span {
    font-size: 13px;
  }
  .dis_content .dis_avater h2 {
    font-size: 26px;
  }
  .dis_content p {
    font-size: 15px;
  }
  .discountItems__area .dis__title span {
    font-size: 14px;
  }
  .modal__dis h3 {
    font-size: 28px !important;
  }
  .dj__sellOption .dj__op input {
    font-size: 14px;
  }
  .dj__sellOption .dj__p {
    width: 100%;
  }
  .djSell__footerContent .fc__total span {
    font-size: 25px;
  }
  .fc__text p {
    font-size: 15px;
  }
  .dj__sellOption .dj__op span {
    font-size: 12px;
  }
  .djSell_box .djPro__img span {
    font-size: 10px;
  }
  .djSell_box .djPro__img p {
    font-size: 15px;
  }
  .sellWant {
    font-size: 15px;
  }
  .sellNeed {
    font-size: 15px;
  }
  .kyc_t {
    font-size: 20px !important;
    margin-bottom: 20px;
  }
  .modal__box .modal__title {
    margin-bottom: 24px;
  }
  .dipo__amount {
    padding: 12px 14px;
  }
  .dipo {
    font-size: 14px;
  }
  .deposit .pay p span {
    font-size: 18px;
  }
  .deposit .pay p {
    font-size: 18px;
  }
  .deposit .pay .pay__tran {
    font-weight: 400;
    font-size: 13px;
  }
  .deposit .pay h4 {
    font-size: 25px;
  }
  .balance span {
    font-size: 22px;
  }
  .balance {
    font-size: 15px;
  }
  .deposit .pay .pay__img {
    padding: 60px 40px;
  }
  .modal__text p {
    font-size: 15px;
  }
  .modal__text h2 {
    font-size: 32px;
  }
  .success img {
    width: 184px;
    height: 184px;
  }
  .succes__text {
    font-size: 15px;
    margin-bottom: 35px;
  }
  .btn {
    padding: 12px 24px 12px 24px;
    font-size: 15px;
  }
  .modal__box .modal__title .title h2 {
    font-size: 24px;
  }
  .mrkt_item .dis__price .dis span {
    font-size: 10px;
  }
  .mrkt_item .dis__price .pinCode p {
    font-size: 15px;
  }
  .modal__box .modal__content .innr .take {
    font-size: 15px;
  }
  .modal__box .modal__content .innr .cancel {
    font-size: 14px;
  }
  .h_btn {
    padding: 12px 18px 12px 18px;
    font-size: 15px;
  }
  .mrkt_item .dis__price .dis span {
    font-size: 10px;
  }
  .modal__box .modal__title .title p {
    font-size: 14px;
  }
  .modal__box .modal__title .off i {
    font-size: 22px;
  }
  .modal__box {
    padding: 40px;
    width: 100%;
  }
  .mrkt_item h6 {
    font-size: 12px;
  }
  .modal__box .modal__content .trade {
    font-size: 15px;
  }
  .marketPlace {
    background-position: 84% -53%;
  }
}

@media all and (max-width: 567px) {
  .blog .blog_content a {
    font-size: 11px;
    gap: 10px;
  }
  .blog .blog_content {
    padding: 12px;
  }
  .blog .blog_content p {
    font-size: 12px;
  }
  .blog .blog_content h5 {
    font-size: 14px;
    margin-bottom: 18px;
  }
  .modal__box .modal__title .off {
    right: 13px;
    top: 9px;
  }
  .modal__box .modal__title .off i {
    font-size: 18px;
  }
  .discountItems__area .dis__img .disImg_big img {
    width: 300px;
    height: 300px;
  }
  .dis__input {
    width: 100%;
  }
  .dis_content .range {
    width: 100%;
  }
  .sellNeed {
    font-size: 12px;
  }
  .dj__sellOption {
    gap: 14px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .dipo__amount input {
    font-size: 12px;
  }
  .dipo {
    font-size: 12px;
  }
  .balance span {
    font-size: 18px;
  }
  .balance {
    font-size: 12px;
  }
  .modal__box .modal__title .title p {
    font-size: 12px;
  }
  .pay__img img {
    width: 60px;
    height: 60px;
  }
  .deposit .pay .pay__img {
    padding: 40px 26px;
  }
  .modal__box {
    padding: 28px;
  }
  .discountItems__area .dis__title {
    margin-bottom: 55px;
  }
  .discountItems__area .dis__img {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .modal__box .modal__content .modal__btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .h_btn {
    font-size: 13px;
  }
  .btn {
    font-size: 13px;
  }
  .success {
    gap: 44px;
  }
  .success {
    gap: 44px;
  }
  .modal__box .modal__title .title h2 {
    font-size: 18px;
  }
  .modal__box .modal__content .innr {
    -webkit-box-flex: inherit;
        -ms-flex: inherit;
            flex: inherit;
  }
  .market__items {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .marketPlace {
    background-position: 74% -21%;
  }
  .marketPlace .marketPlace__items .mpItems__list {
    width: 100%;
  }
  .marketPlace .marketPlace__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header_area .headerSwiper .swiper-button-next {
    right: 40%;
  }
  .header_area .headerSwiper .swiper-pagination-fraction {
    right: 46.8%;
  }
}
/*# sourceMappingURL=style.css.map */